<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="../static/media/webicon.png" type="image/png">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/home.css'>
    <script src='main.js'></script>
</head>
<body>
    <nav>
        <img src="../static/media/logowhite.png">
        <ul>
            <li id="samepage" class="NormalNav"><a>HOME</a></li>
            <li class="NormalNav"><a href="aboutus.html">ABOUT H</a></li>
        </ul>
    </nav>
    
</body>
</html>