<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/media/webicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/home.css">
    <script src="../static/javascript/home.js"></script>
</head>
<body>
    <nav>
        <a href="home.html"><img id="logo" src="../static/media/logoblack.png"></a>
        <ul>
            <li id="samepage" class="NormalNav"><a>HOME</a></li>
            <li class="NormalNav"><a href="aboutus.html">ABOUT H</a></li>
            <li class="NormalNav"><a href="exercise_calendar.html">EXERCISE CALENDAR</a></li>
            <li class="NormalNav"><a href="/">SIGN OUT</a></li>
        </ul>
        <input type="text" id="searchinput" placeholder="Search for videos">
    </nav>
    <div id="videoplacer">
        <h3>CYCLING</h3>
        <h3>6 Reasons Cycling is Good for you!</h3>
        <h2><a href="">Join our telegram channel!</a></h2>
        <video id="video_background" loop controls autoplay>
            <source src="../static/media/videos/y2mate.is - 6 Reasons Cycling Is Good for You Health Benefits of Cycling DAILY Shivangi Desai-_8XvHNOG1G4-480pp-1694071135.mp4">
        </video>
    </div>
</body>
</html>