<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/application/static/css/welcome.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="aboutus.html">ABOUT H</a></li>
        </ul>
    </nav>
    <img src="/application/static/media/logowhite.png">
    <video id="video_background" loop muted autoplay>
        <source src="/application/static/media/Go the Distance with Stock Video_ A Training Montage Made from 100% Stock Footage.mp4">
    </video>
    <button><a>LOG IN</a></button>

</body>
</html>