<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="../static/css/video.css">
    <link rel="stylesheet" type="text/css" href="../static/css/welcome.css">
</head>
<body>
    <header>
        <!-- Delete span tags below, replace with company name-->
        <h1></h1>
    </header>
    <video id="video_background" loop muted autoplay>
        <source src="/application/static/media/Go the Distance with Stock Video_ A Training Montage Made from 100% Stock Footage.mp4">
    </video>

</body>
</html>