@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/Helvetica\ Neue\ 67\ Medium\ Condensed.otf) format('truetype');
}
@font-face {
    font-family: 'Univers';
    src: url(../fonts/UniversLightCondensed.ttf);
}

span {
    color: red;
}

* {
    margin:0px;
    font-family: 'Helvetica Neue';
}

html {
    background-color: white;
    text-align: center;
}
  
form {
    text-align: left;
    margin: auto;
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    right: 0;
    width: 50%;
}

#text1{
    text-align: left;
    margin-top: 70px;
    position: fixed;

}

#text2 {
    text-align: left;
    width: 50%;
    margin-top: 170px;
    font-size: 25px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

#details {
    margin-bottom: 5px;
    position: relative; left: 50px; top: 50px;
}
  
#details3 {
    margin-bottom: 5px;
    position: relative; top: 70px; left: 50px;
}
  
#fname {
    margin-right: 25px;
    padding: 8px;
    position: relative; top: 50px; left: 50px;
}
  
#lname {
    padding: 8px;
    position: relative; top: 50px; left: 50px;
}
  
#email {
    padding: 8px;
    position: relative; top: 60px; left: 50px;
}
  
#details2 {
    position: relative; top: 55px; left: 50px;
}
  
#qn {
    margin-bottom: 15px;
    padding: 8px;
    position: relative; top: 70px; left: 50px;
}
  
#submit {
    background: gray;
    color: white;
    border-style: outset;
    border-color: #d3d3d3 ;
    height: 40px;
    width: 80px;
    font: bold 13px Helvetica;
    position: relative; top: 70px; left: 150px;
}

h3 {
    position: relative; top: 70px; left: 150px;
}

#cu {
    position: fixed; top: 140px;
    width: 50%; left: 280px;
}

/* Navigation bar */
nav {
    background-color: #fbfbfb;
    padding:10px;
    text-align: center;
    border:rgb(197, 197, 197) 1px solid;
    box-shadow: 1px 2px 5px 2px #f0f0f0;
    position:fixed;
    display:flex;
    padding-bottom: 20px;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav a {
    align-items: center;
    display:inline-block;
}

nav ul {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display:flex;
    margin-top: 10px;
}
nav ul li {
    display:inline-block;
    border: 1px rgb(0, 0, 0);
    margin: 10px;
    align-items: center;
}
nav ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size:20px;
}
#logo {
    width:7vh;
    margin-left:30px;
    margin-top: 10px;
    text-align: left;
    display: inline-block;
}
#samepage a {
    color:#000000;
}

/* Hover */
.NormalNav a:hover {
    color:#000000;
}
.NormalNav a:after {
    content:'';
    position: absolute;
    background-color: #000000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav ul li a:hover:after {
    width: 100%;
}
