<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="icon" href="../static/media/webicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../static/css/welcome.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="aboutus.html">ABOUT H</a></li>
        </ul>
    </nav>
    <div>
    <img src="../static/media/logowhite.png">
    </div>
    <video id="video_background" loop muted autoplay>
        <source src="../static/media/Go the Distance with Stock Video_ A Training Montage Made from 100% Stock Footage.mp4">
    </video>
    <div id="overlay"></div>
    <div>
    <button><a href="login.html">LOG IN</a></button>
    </div>

</body>
</html>